# Dictionaries, Tuples and Arrays in Julia

### Dictionaries

#### Dictionary of integers

In [1]:
ages = Dict("Anirudh" => 15, "Aditi" => 25, "Shiv" => 30)

Dict{String,Int64} with 3 entries:
  "Aditi"   => 25
  "Shiv"    => 30
  "Anirudh" => 15

In [2]:
ages["Javas"] = 40

40

In [3]:
ages

Dict{String,Int64} with 4 entries:
  "Javas"   => 40
  "Aditi"   => 25
  "Shiv"    => 30
  "Anirudh" => 15

In [4]:
typeof(ages["Anirudh"])

Int64

We can use the `pop!` function to delete a key from our dictionary and simultaneously print the value (for the deleted key)

In [5]:
pop!(ages, "Javas")

40

In [6]:
ages

Dict{String,Int64} with 3 entries:
  "Aditi"   => 25
  "Shiv"    => 30
  "Anirudh" => 15

### Tuples

In [7]:
subjects = ("Math", "Physics", "Geography")

("Math", "Physics", "Geography")

##### Julia is 1-indexed

In [8]:
subjects[1]

"Math"

In [9]:
length(subjects)

3

##### Of course, tuples are immutable

In [10]:
subjects[2] = "Biology"

MethodError: MethodError: no method matching setindex!(::Tuple{String,String,String}, ::String, ::Int64)

### Arrays

Arrays are both mutable and ordered

In [11]:
my_nums = [5,7,19,4]

4-element Array{Int64,1}:
  5
  7
 19
  4

In [12]:
my_nums[1] + my_nums[2]

12

In [13]:
my_nums[4] = 0
println(sum(my_nums))
println(my_nums)

31
[5, 7, 19, 0]

In [14]:
mixed_array = ["Anirudh", 5]

2-element Array{Any,1}:
  "Anirudh"
 5

In [15]:
typeof(mixed_array)

Array{Any,1}

In [16]:
mixed_array[2]

5

Adding elements to an array with the push! function

In [17]:
push!(my_nums, 4)
my_nums

5-element Array{Int64,1}:
  5
  7
 19
  0
  4

In [18]:
pop!(my_nums)

4

In [19]:
my_nums

4-element Array{Int64,1}:
  5
  7
 19
  0

In [20]:
pop!(mixed_array)

5

In [21]:
mixed_array

1-element Array{Any,1}:
 "Anirudh"

##### Arrays of arrays

In [22]:
more_numbers = [[3,4,5],[1,2,3],[4,5]]

3-element Array{Array{Int64,1},1}:
 [3, 4, 5]
 [1, 2, 3]
 [4, 5]

In [23]:
more_names = [("Anriudh"), ("Jordan", "Peterson", "Alice", "Eve"), ["Jackass", "Dimwit"]]

3-element Array{Any,1}:
 "Anriudh"
 ("Jordan", "Peterson", "Alice", "Eve")
 ["Jackass", "Dimwit"]

In [24]:
more_names[1] = ["Oregano", "Parmesan"]

2-element Array{String,1}:
 "Oregano"
 "Parmesan"

In [25]:
more_names

3-element Array{Any,1}:
 ["Oregano", "Parmesan"]
 ("Jordan", "Peterson", "Alice", "Eve")
 ["Jackass", "Dimwit"]

In [26]:
more_names[2][1] = "Jane"

MethodError: MethodError: no method matching setindex!(::NTuple{4,String}, ::String, ::Int64)

#### 2D and 3D arrays with random numbers

In [27]:
rand(2,3)

2×3 Array{Float64,2}:
 0.665693  0.230385  0.936259
 0.904774  0.316611  0.974019

In [28]:
rand(1)

1-element Array{Float64,1}:
 0.7659736483261879

In [29]:
rand(2,3,4)

2×3×4 Array{Float64,3}:
[:, :, 1] =
 0.662529  0.0605177  0.288658
 0.435303  0.0818526  0.663118

[:, :, 2] =
 0.862661  0.579735  0.307626
 0.786307  0.660883  0.0935821

[:, :, 3] =
 0.47738   0.341858  0.434125
 0.381801  0.357394  0.132856

[:, :, 4] =
 0.778613  0.903174  0.643705
 0.487592  0.361837  0.0212329